html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),url("./image/h1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
  
*,
*:after,
*::before {
    box-sizing: inherit;
}


@media screen and (min-width: 1024px) {
    .grid-1-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 2rem;
    }
  
    .grid-1-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
      gap: 2rem;
    }
} 
